<h1>Här är orden du måste lära dig Daniel!</h1>

<table>
  <thead>
    <tr>
      <th>Engelska</th>
      <th>Svenska</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ords.each do |ord| %>
      <tr>
        <td><%= ord.english %></td>
        <td><%= ord.swedish %></td>
        <td><%= link_to 'Visa', ord %></td>
        <td><%= link_to 'Redigera', edit_ord_path(ord) %></td>
        <td><%= link_to 'Radera', ord, method: :delete, data: { confirm: 'Är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nytt ord', new_ord_path %>
